@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-switch-bg: #D9D9D9;
  --color-switch-fg: #111111;
  --color-text: #FFFFFF;
  --color-placeholder: #FFFFFF28;
  --color-bg-50: #444444;
  --color-bg-100: #383838;
  --color-bg-200: #373636;
  --color-bg-300: #1e1e1e;
}

[data-theme="light"] {
  --color-switch-bg: #D9D9D9;
  --color-switch-fg: #111111;
  --color-text: #292929;
  --color-placeholder: #292929;
  --color-bg-50: #D9D9D9;
  --color-bg-100: #FFFFFF;
  --color-bg-200: #373636;
  --color-bg-300: #686868;
}

.icon {
  filter: drop-shadow(0px 0px 3px #FFFFFFFF);
}

[data-theme="light"] .search-icon {
  filter: brightness(0%);
}

[data-theme="light"] .icon {
  filter: drop-shadow(0px 4px 4px #00000040);
}

[data-theme="light"] .forecast-day-card.day {
  background: linear-gradient(#ff9e37, #F8850810);
}

[data-theme="light"] .forecast-day-card.night {
  background: linear-gradient(#575757, #443D6410);
}

[data-theme="light"] .icon-filled {
  filter: grayscale(100%) brightness(0%);
}

[data-theme="light"] .theme-toggler {
  border: 1px solid #000;
}

[data-theme="light"] .ms-button {
  border: 1px solid black;
}

[data-theme="light"] .search {
  border: 1px solid #000;
}

.themed {
  transition: 0.2s linear;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sized {
  max-width: 1345px;
  width: 100%;
}

.search {
  background-color: var(--color-bg-50);
}

.block {
  background-color: var(--color-bg-50);
  border-radius: 30px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 50%);
}

[data-theme="light"] .language-toggler {
  border: 1px solid #000;
}

.current-location-button {
  background-color: #4CBB17;
  border-radius: 40px;
  padding: 0 26px;
  min-width: fit-content;
  max-height: 62px;
}

.theme-toggler {
  background-color: var(--color-switch-bg);
  width: 100px;
  height: 38.61px;
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 30px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    left: 45px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--color-switch-fg);
    transition: transform 0.2s linear;
  }

  &.dark {
    &::before {
      transform: translateY(-50%) translateX(-35px);
    }
  }

  &.light {
    &::before {
      transform: translateY(-50%) translateX(15px);
    }
  }
}

.location-badge {
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sun-time {
  display: flex;
  width: 100%;
  .icon {
    margin-right: 11px;
  }
  .text-block {
    .name {
      font-weight: 600;
      font-size: 20px;
    }
    .time {
      font-weight: 600;
      font-size: 16px;
      width: fit-content;
    }
  }
}

.weather-metrics {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 210px;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;

  .weather-metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 60px;
      height: 60px;
    }
    .value {
      font-size: 20px;
      font-weight: 800;
    }
    .name {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.wind-north-east {
  transform: rotate(30deg);
}
.wind-north-west {
  transform: rotate(-30deg);
}

.aqi-annotation {
  font-weight: bold;
  background-color: var(--color-bg-100);
  padding: 5px 10px;
  border-radius: 15px;
}